<%= form_for(@provider) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category_id,Category.find(:all).collect{|b| [b.title,b.id]},{},:html => {} %>
  </div>
  <div class="field">
    <%= f.label :url_filter %><br />
    <%= f.text_field :url_filter %>
  </div>
  <div class="field">
    <%= f.label :content_xpath %><br />
    <%= f.text_field :content_xpath %>
  </div>
  <div class="field">
    <%= f.label :fetched_at %><br />
    <%= f.datetime_select :fetched_at %>
  </div>
  <div class="field">
    <%= f.label :frequence %><br />
    <%= f.text_field :frequence %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
