<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h3><%= "console" %></h3>

<%= link_to 'Manage Category', categories_path %><br/>
<%= link_to 'Manage Thing',things_path %><br/>
<%= link_to 'Manage Provider',providers_path %><br/>
<%= link_to 'Manage Archive',archives_path %>

