<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @provider.title %>
</p>

<p>
  <b>Url:</b>
  <%= @provider.url %>
</p>

<p>
  <b>Description:</b>
  <%= @provider.description %>
</p>

<p>
  <b>Category:</b>
  <%= @provider.category %>
</p>

<p>
  <b>Url filter:</b>
  <%= @provider.url_filter %>
</p>

<p>
  <b>Content XPath:</b>
  <%= @provider.content_xpath %>
</p>

<p>
  <b>Fetched at:</b>
  <%= @provider.fetched_at %>
</p>

<p>
  <b>Frequence:</b>
  <%= @provider.frequence %>
</p>


<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
