<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @thing.title %>
</p>

<p>
  <b>Alias:</b>
  <%= @thing.alias %>
</p>

<p>
  <b>Category:</b>
  <%= @thing.category %>
</p>


<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
